@import '~node_modules/modern-normalize/modern-normalize.css';
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("../fonts/Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("../fonts/Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Black.eot");
  src: local("../fonts/Montserrat Black"), local("Montserrat-Black"), url("../fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Black.woff2") format("woff2"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("../fonts/Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: local("../fonts/Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Seymour One";
  src: url("../fonts/SeymourOne.eot");
  src: local("../fonts/Seymour One"), local("SeymourOne"), url("../fonts/SeymourOne.eot?#iefix") format("embedded-opentype"), url("../fonts/SeymourOne.woff") format("woff"), url("../fonts/SeymourOne.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  cursor: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.047 14.0117L28.9811 24.2169C30.8522 25.9633 29.8177 29.1 27.2748 29.3907L23.1573 29.8612C22.124 29.9793 21.1533 30.4167 20.3802 31.1124L18.0069 33.2484C16.0763 34.9859 13 33.6159 13 31.0186V16.2049C13 13.5817 16.1293 12.2219 18.047 14.0117Z' stroke='%23131313' stroke-width='2'/%3E%3C/svg%3E"), default;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #131313;
  background-color: #84a178;
  letter-spacing: 0.04em;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(../images/bg-mob@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .products {
    background-image: url(../images/bg-mob@2x.png);
  }
}
.products__container {
  text-align: center;
}

.products__suptitle {
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22px;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #131313;
}

.products__title {
  font-family: "Seymour One";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 148px;
}

.products__item {
  position: relative;
  width: 280px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 123px 40px 0;
  background: #aec6a5;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.products__item:not(:last-child) {
  margin-bottom: 168px;
}

.products__item-wrapper {
  width: 200px;
  height: 148px;
}

.products__item-title {
  font-family: "Montserrat";
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #131313;
}

.products__item-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.04em;
  color: #131313;
}

.products__modal-open-btn {
  display: inline-block;
  padding: 53px 15px 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.products__item::before {
  display: block;
  position: absolute;
  z-index: 100;
  margin-top: -231px;
  content: "";
  width: 200px;
  height: 200px;
  background: url(../images/products/cream-mob-tab@1x.png);
}

.products__item-title::before {
  display: block;
  position: absolute;
  z-index: 99;
  margin-top: -220px;
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.item-before-cream::before {
  background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}

.item-before-coffee::before {
  background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.item-title-shakes::before {
  background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 480px) {
  .products__title {
    margin-bottom: 145px;
  }
  .products__item {
    position: relative;
    width: 250px;
    height: 428px;
    padding: 126px 25px 0;
    background: #aec6a5;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  }
  .products__modal-open-btn {
    padding: 61px 15px 16px;
  }
}
@media screen and (min-width: 768px) {
  .products {
    background-image: url(../images/bg-tab@1x.png);
  }
  .products__suptitle {
    font-size: 22px;
  }
  .products__title {
    font-size: 34px;
    margin-bottom: 200px;
  }
  .products__list {
    display: flex;
    justify-content: center;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .products__item {
    position: relative;
    width: 224px;
    height: 428px;
    margin-bottom: 0px;
    padding: 108px 26px 0;
    background: #aec6a5;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    flex-basis: calc((100% - 32px) / 2);
  }
  .products__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .products__item-wrapper {
    width: 172px;
    height: 175px;
  }
  .products__item-title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 40px;
  }
  .products__modal-open-btn {
    padding: 50px 15px 12px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 767px) {
  .products {
    background-image: url(../images/bg-tab@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .products {
    background-image: url(../images/bg-desk@1x.png);
  }
  .products__suptitle {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
  .products__title {
    font-size: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 303px;
  }
  .products__list {
    display: flex;
    justify-content: space-between;
    -moz-column-gap: 29px;
         column-gap: 29px;
  }
  .products__item {
    position: relative;
    width: 370px;
    height: 536px;
    padding: 165px 64px 0;
    background: #aec6a5;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    flex-basis: calc((100% - 58px) / 2);
  }
  .products__item-title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 66px;
  }
  .products__item-wrapper {
    width: 246px;
    height: 142px;
  }
  .products__item-text {
    font-size: 16px;
  }
  .products__modal-open-btn {
    padding: 50px 15px 58px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .products {
    background-image: url(../images/bg-desk@2x.png);
  }
}
.item-coffee {
  background: #efd478;
}

.item-shakes {
  background: #d6936d;
}

.footer {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .footer {
    padding: 0 32px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 0 16px;
  }
}

@media (min-width: 768px) {
  .footer-box {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .footer-box {
    justify-content: space-between;
    padding-bottom: 60px;
    align-items: flex-end;
  }
}

.footer-name {
  width: 234px;
  height: auto;
}
@media (min-width: 768px) {
  .footer-name {
    width: 352px;
  }
}
@media (min-width: 1200px) {
  .footer-name {
    width: 504px;
  }
}

.footer-head {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .footer-head {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.04em;
  }
}
@media (min-width: 1200px) {
  .footer-head {
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 14px;
  }
}

.footer-head__description {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
}
@media (min-width: 768px) {
  .footer-head__description {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.06em;
  }
}
@media (min-width: 1200px) {
  .footer-head__description {
    font-weight: 700;
    font-size: 58px;
    line-height: 71px;
    letter-spacing: 0.06em;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .footer-contacts {
    margin-top: 61px;
  }
}
@media (min-width: 1200px) {
  .footer-contacts {
    margin-top: 0;
  }
}

.footer-contacts__list {
  margin: 0;
  justify-content: end;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer-contacts__list {
    margin-bottom: 40px;
    gap: 30px;
  }
}

.footer-contacts__item {
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8d24e;
  border-radius: 50%;
}

.footer-contacts__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  fill: #84a178;
  border-radius: 50%;
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  fill: #fcfcfc;
}

.footer-call {
  text-align: right;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.8333333333;
  color: #131313;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .footer-call {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media (min-width: 1200px) {
  .footer-call {
    margin-bottom: 0;
    line-height: 1.875;
    font-size: 16px;
    letter-spacing: 0.02em;
  }
}

.footer-call__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.375;
  color: #fcfcfc;
}
@media (min-width: 768px) {
  .footer-call__link {
    font-size: 14px;
    line-height: 1.8571428571;
  }
}
@media (min-width: 1200px) {
  .footer-call__link {
    font-size: 16px;
    line-height: 1.875;
  }
}

.footer-copyrights {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #e1e1e1;
}
@media (min-width: 768px) {
  .footer-copyrights {
    padding: 12px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.footer-copyrights__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  color: #7a7a7a;
}
@media (min-width: 768px) {
  .footer-copyrights__item {
    margin-left: 5px;
    line-height: 1.8571428571;
  }
}
@media (min-width: 1200px) {
  .footer-copyrights__item {
    font-size: 12px;
    line-height: 1.8333333333;
  }
}/*# sourceMappingURL=index.css.map */