.buy-now-modal {
  max-width: 280px;
  min-height: 991px;
  margin: 0 auto;
  padding: 0 74px;
  background: getColor('secondary-bg-color');
  border: 2px solid getColor('accent-color');
  border-radius: 10px;

  @include tablet {
    max-width: 568px;
    min-height: 644px;
    padding: 0 54px;
  }
}

.buy-now-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
  @include tablet {
    margin-top: 32px;
  }
}

.buy-now-form__title {
  font-family: 'Seymour One', sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 83px;
  text-align: center;

  @include tablet {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 103px;
  }
}

.buy-now-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 31px;
  @include tablet {
    flex-direction: row;
    margin-bottom: 40px;
    align-items: stretch;
  }
}

.buy-now-list__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 82px;
  }
  @include tablet {
    margin-right: 32px;
  }
}

.buy-now-list__input {
  &:focus + .custom-checkbox {
    outline: 2px solid transparent;
  }
}

.buy-now-list__input--first {
  &:checked + .custom-checkbox {
    background-color: getColor('first-shape-color');
    border-color: getColor('first-shape-color');
  }
}

.buy-now-list__input--second {
  &:checked + .custom-checkbox {
    background-color: getColor('light-yellow-bg-color');
    border-color: getColor('light-yellow-bg-color');
  }
}

.buy-now-list__input--third {
  &:checked + .custom-checkbox {
    background-color: getColor('light-orange-bg-color');
    border-color: getColor('light-orange-bg-color');
  }
}

.custom-checkbox {
  border-radius: 15px;
  width: 132px;
  height: 136px;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}

.custom-checkbox--first {
  border: 2px solid getColor('first-shape-color');
}

.custom-checkbox--second {
  border: 2px solid getColor('light-yellow-bg-color');
}

.custom-checkbox--third {
  border: 2px solid getColor('light-orange-bg-color');
}

.custom-checkbox::before {
  content: '';
  display: block;
  transform: translate(-1.5%, -50%);
  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.custom-checkbox--first::before {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

.custom-checkbox--second::before {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}

.custom-checkbox--third::before {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.buy-now-list__ice {
  position: absolute;
  border-radius: 98px;
  transform: translateY(-207px);
}

.buy-now-list__desc {
  position: absolute;
  transform: translate(12%, -40px);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.form__submit {
  background: getColor('accent-color');
  border-radius: 10px;
  width: 121px;
  height: 42px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  padding: 12px 34px;
  border: none;
  color: getColor('button-text');
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor('button-hover-focus');
    color: getColor('button-text-focus');
  }

  @include tablet {
    font-size: 14px;
    line-height: 17px;
  }
}
