.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.franchise__modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 28px;
  border-radius: 10px;
  border: 2px solid getColor('yellow-main');
  background-color: getColor('white-contacts');
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 674px;
  }

  @include tablet {
    width: 568px;
    height: 668px;
    padding: 32px 60px;
  }
}

.franchise__button {
  position: absolute;
  left: 90%;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: inherit;
  border: none;
  color: getColor('theme-black');
  cursor: pointer;
  width: 20px;
  height: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('orange-main');
  }

  & .franchise__icon {
    fill: currentColor;
    width: 11px;
    height: 11px;
  }

  @include tablet {
    width: 24px;
    height: 24px;
    left: 93%;

    & .franchise__icon {
      width: 13px;
      height: 13px;
    }
  }
}

.franchise__title {
  display: block;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: getColor('theme-black');
  letter-spacing: 0;
  width: 221px;
  height: 72px;
  margin: 0 auto 20px;

  @include tablet {
    font-size: 20px;
    line-height: calc(28 / 20);
    width: 322px;
    height: 84px;
    margin: 0 auto 24px;
  }
}

.franchise__text {
  font-size: 14px;
  line-height: calc(20 / 14);
  letter-spacing: 0;
  color: getColor('theme-black');
  margin-bottom: 20px;
  width: 222px;
  max-height: 240px;

  @include tablet {
    font-size: 16px;
    line-height: calc(22 / 16);
    width: 448px;
    height: 132px;
    margin-bottom: 32px;
  }
}

.form__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  @include tablet {
    align-items: center;
    margin-bottom: 32px;
  }
}

.form__input {
  padding: 8px 12px 7px 12px;
  outline: none;
  margin-bottom: 16px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid getColor('green-main');
  border-radius: 10px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 224px;
  height: 32px;

  &:focus {
    border-color: getColor('orange-main');
  }

  @include tablet {
    width: 368px;
    height: 42px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 16px;
    margin-bottom: 12px;
  }
}

.form__textarea {
  resize: none;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid getColor('green-main');
  border-radius: 10px;
  padding: 8px 48px 39px 12px;
  width: 224px;
  height: 64px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    width: 368px;
    height: 84px;
    padding-top: 11px;
    padding-bottom: 53px;
    padding-left: 16px;
  }
  & + .form__label {
    top: 25%;
    left: 5%;
  }

  &:focus {
    border-color: getColor('orange-main');
  }
}

.franchise__button-submit {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  color: getColor('theme-black');
  background-color: getColor('yellow-main');
  border: none;
  border-radius: 10px;
  max-width: 114px;
  height: 42px;
  padding: 12px 34px;
  margin: 0 auto;
  letter-spacing: 0;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    max-width: 121px;
    height: 42px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
  &:hover,
  &:focus {
    color: getColor('white-contacts');
    background-color: getColor('button-hover-focus');
  }
}

.form__field {
  position: relative;
}

.form__label {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translateY(-50%);
  transition: transform 250ms linear;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);
  color: getColor('theme-black');

  @include tablet {
    top: 45%;
    left: 5%;
    font-size: 14px;
    line-height: calc(20 / 14);
  }
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-180%);
  color: getColor('orange-main');

  @include tablet {
    transform: translateX(-150%);
    color: getColor('orange-main');
  }
}

.form__textarea:focus + .form__label,
.form__textarea:not(:placeholder-shown) + .form__label {
  transform: translateY(-200%);
  color: getColor('orange-main');

  @include tablet {
    transform: translateX(-150%);
    color: getColor('orange-main');
  }
}
