.franchise__modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 28px;
  border-radius: 10px;
  border: 2px solid getColor('accent-color');
  background-color: getColor('secondary-bg-color');
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 674px;
  }

  @include tablet {
    width: 568px;
    height: 668px;
    padding: 32px 60px;
  }
}

.franchise__button {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  padding: 4px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: getColor('button-text');

  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('icon-close-color');
  }

  & .franchise__icon {
    fill: currentColor;
    width: 11px;
    height: 11px;
  }

  @include tablet {
    width: 24px;
    height: 24px;

    & .franchise__icon {
      width: 13px;
      height: 13px;
    }
  }
}

.franchise__title {
  display: block;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: getColor('secondary-heading-color');
  letter-spacing: 0;
  width: 221px;
  height: 72px;
  margin: 0 auto 20px;

  @include tablet {
    font-size: 20px;
    line-height: calc(28 / 20);
    width: 322px;
    height: 84px;
    margin: 0 auto 24px;
  }
}

.franchise__text {
  font-size: 14px;
  line-height: calc(20 / 14);
  letter-spacing: 0;
  color: getColor('main-text-color');
  margin-bottom: 20px;
  width: 222px;
  max-height: 240px;

  @include tablet {
    font-size: 16px;
    line-height: calc(22 / 16);
    width: 448px;
    height: 132px;
    margin-bottom: 32px;
  }
}

.form-contacts__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;

  @include tablet {
    align-items: center;
    margin-bottom: 30px;
  }
}

.form-contacts__input {
  padding: 8px 12px 7px 12px;
  outline: none;
  margin-bottom: 16px;
  background-color: getColor('input-field-color');
  border: 1px solid getColor('input-border-default');
  border-radius: 10px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 224px;
  height: 32px;

  &:focus {
    border-color: getColor('input-border-focus');
  }

  @include tablet {
    width: 368px;
    height: 42px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 16px;
    margin-bottom: 17px;
  }
}

.form-contacts__input:not(:placeholder-shown):required:valid {
  border-color: getColor('input-border-default');
}

// .form-contacts__input:not(:placeholder-shown):not(:focus):required:invalid {
//   border-color: getColor('input-border-invalid');
// }

.form-contacts__textarea {
  resize: none;
  background-color: getColor('input-field-color');
  border: 1px solid getColor('input-border-default');
  border-radius: 10px;
  padding: 8px 48px 39px 12px;
  width: 224px;
  height: 64px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;

  @include tablet {
    width: 368px;
    height: 84px;
    padding-top: 11px;
    padding-bottom: 53px;
    padding-left: 16px;
  }
  & + .form-contacts__label {
    top: 25%;
    left: 5%;
  }

  &:focus {
    border-color: getColor('input-border-focus');
  }
}

.franchise__button-submit {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  color: getColor('button-text');
  background-color: getColor('accent-color');
  border: none;
  border-radius: 10px;
  max-width: 114px;
  height: 42px;
  padding: 12px 34px;
  margin: 0 auto;
  letter-spacing: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    max-width: 121px;
    height: 42px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
  &:hover {
    background-color: getColor('button-hover-focus');
    color: getColor('button-text');
  }
  &:focus {
    color: getColor('button-text-focus');
    background-color: getColor('button-hover-focus');
  }

  &:disabled {
    background-color: getColor('button-disabled');
    border-color: getColor('button-disabled');
  }
}

.form-contacts__field {
  position: relative;
}

.form-contacts__label {
  position: absolute;
  top: 30%;
  left: 5%;
  transform: translateY(-50%);
  transition: transform 250ms linear;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(17 / 12);
  color: getColor('main-text-color');

  @include tablet {
    top: 38%;
    left: 5%;
    font-size: 14px;
    line-height: calc(20 / 14);
  }
}

.form-contacts__input:focus + .form-contacts__label,
.form-contacts__input:not(:placeholder-shown) + .form-contacts__label {
  transform: translateY(-180%);
  color: getColor('accent-color');

  @include tablet {
    transform: translateY(-200%);
    color: getColor('accent-color');
  }
}

.form-contacts__textarea:focus + .form-contacts__label,
.form-contacts__textarea:not(:placeholder-shown) + .form-contacts__label {
  transform: translateY(-200%);
  color: getColor('accent-color');

  @include tablet {
    transform: translateY(-200%);
    color: getColor('accent-color');
  }
}
