.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.location__modal {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 28px;
  border-radius: 10px;
  border: 2px solid getColor('yellow-main');
  background-color: getColor('white-contacts');
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .is-hidden & {
    transform: translate(-50%, -50%) scale(0);
  }

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 365px;
  }

  @include tablet {
    width: 568px;
    height: 485px;
    padding: 32px 60px;
  }
}

.location__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 90%;
  top: 12px;
  padding: 0;

  background-color: inherit;
  border: none;
  color: getColor('theme-black');
  cursor: pointer;
  width: 20px;
  height: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('orange-main');
  }

  & .location__icon {
    fill: currentColor;
    width: 11px;
    height: 11px;
  }

  @include tablet {
    width: 24px;
    height: 24px;
    left: 94%;
    top: 12px;

    & .location__icon {
      width: 13px;
      height: 13px;
    }
  }
}

.location__title {
  display: block;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: getColor('theme-black');
  letter-spacing: 0;
  width: 166px;
  height: 24px;
  margin: 0 auto 20px;

  @include tablet {
    font-size: 20px;
    line-height: calc(28 / 20);
    width: 322px;
    height: 28px;
    margin: 0 auto 32px;
  }
}

.location__map {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
  background-color: inherit;
  width: 224px;
  height: 199px;
  margin-bottom: 24px;

  @include tablet {
    width: 448px;
    height: 260px;
    margin-bottom: 32px;
  }
}

iframe-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  height: 199px;
  margin: 0;
  padding: 0;
  border-radius: 10px;

  @include tablet {
    width: 448px;
    height: 260px;
  }
}

.location__button-open-map {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  text-align: center;
  color: getColor('theme-black');
  background-color: getColor('yellow-main');
  border-radius: 10px;
  max-width: 134px;
  height: 42px;
  padding: 12px 34px;
  margin: 0 auto;
  letter-spacing: 0;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    max-width: 145px;
    height: 42px;
    font-size: 14px;
    line-height: calc(17 / 14);
  }
  &:hover,
  &:focus {
    color: getColor('white-contacts');
    background-color: getColor('button-hover-focus');
  }
}
