.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.product__modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 28px;
  border: 2px solid getColor('accent-color');
  border-radius: 10px;
  background-color: getColor('secondary-bg-color');
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  max-height: 100vh;
  overflow: scroll;

  @include tablet {
    width: 568px;
    padding: 32px 40px;
  }
}

.product__btnclose {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  padding: 4px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: getColor('button-text');
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('icon-close-color');
  }
}

.product__icon-close {
  fill: currentColor;
  width: 11px;
  height: 11px;

  @include tablet {
    width: 24px;
    height: 24px;

    .product__icon-close {
      width: 13px;
      height: 13px;
    }
  }
}

.product__md-title {
  font-family: 'Seymour One';
  text-align: center;
  font-weight: 400;
  font-size: 20px;

  line-height: calc(28 / 20);
  margin-bottom: 27px;
  color: getColor('secondary-heading-color');

  @include tablet {
    margin-bottom: 24px;
  }
}

.product__modal-box-img {
  display: block;
  position: relative;
  min-width: 132px;
  min-height: 132px;
  border-radius: 50%;
  margin-bottom: 22px;
  perspective: 200px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);

  @include tablet {
    margin-bottom: 24px;
  }
}

.product__modal-box-img:before {
  content: '';
  display: block;
  position: absolute;
  align-items: center;
  width: 100%;
  height: 100%;
  top: -7px;

  background-image: url(../images/modal/ice-cream-modal@1x.png);
}

.product__modal-box-img:hover.product__modal-box-img:before {
  transform: rotateY(180deg);
  transition: all 300ms linear;
}

.product__benefit-list {
  display: flex;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 48px;
  }
}

.product__benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 53px;
  height: 72px;
  border: 2px solid getColor('ellipse-color');
  border-radius: 40px;

  @include tablet {
    width: 65px;
    height: 90px;
  }
}

.product__benefit-hidden {
  font-size: 0;

  @include tablet {
    font-size: 12px;
  }
}

.product__benefit-item:not(:last-child) {
  margin-right: 9px;

  @include tablet {
    margin-right: 20px;
  }
}

.product__benefit-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-top: -1px;
  margin-bottom: 8px;
  font-size: 0px;

  background-color: getColor('ellipse-color');
  border-color: getColor('ellipse-color');
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  @include tablet {
    width: 53px;
    height: 53px;
    margin-bottom: 6px;
  }
}

.product__benefit-value {
  display: block;
  font-weight: 500;
  font-size: 12px;

  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 10);
  color: getColor('main-text-color');

  @include tablet {
    font-weight: 500;
    font-size: 12px;
    line-height: calc(28 / 12);
  }
}

.product__benefit-descr {
  font-weight: 400;
  font-size: 10px;
  line-height: calc(12 / 10);
  display: flex;
  align-items: center;
  text-align: center;
  color: getColor('main-text-color');

  @include tablet {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(15 / 12);
  }
}

.product__md-ingred {
  display: block;
  width: 100%;
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 48px;
  }
}

.product__ingred-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);
  text-align: center;
  color: getColor('main-text-color');
  margin-bottom: 24px;
}

.product__md-ingred-tabl {
  display: flex;
  justify-content: space-between;
}

.product__ingred-descr {
  text-align: start;
}

.product__ingred-value {
  text-align: end;
}

.product__ingred-item {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(25 / 14);
  letter-spacing: 0.04em;
  color: getColor('main-text-color');
}

.product__ingred-item:not(:last-child) {
  margin-bottom: 11px;
}

.product__md-btn,
.product__md-btn:default {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: getColor('button-text');
  padding: 12px 34px;
  width: 132px;
  height: 42px;
  border-radius: 10px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    padding: 12px 34px;
    width: 121px;
    height: 42px;
  }
}

.btn:hover,
.btn:focus {
  background-color: getColor('button-hover-focus');
  border-color: getColor('button-hover-focus');
  border-width: 2px;
}

.btn:focus {
  color: getColor('button-text-focus');
}

.btn-yellow,
.product__md-btn:active {
  background-color: getColor('accent-color');
  color: getColor('button-text');
  border-color: getColor('accent-color');
  border-width: 2px;
}

.btn:disabled {
  background: getColor('button-disabled');
  color: getColor('button-text');
}
