.backdrop-readmore {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-readmore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 280px;
  height: auto;

  padding: 28px;

  background: getColor('theme-white');
  border: 2px solid getColor('yellow-main');
  border-radius: 10px;

  @include tablet {
    width: 568px;
    padding: 32px 60px;
  }
}

.title-readmore {
  font-family: 'Seymour One';

  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  color: getColor('theme-black');

  @include tablet {
    font-size: 20px;
    line-height: calc(28 / 20);
  }
}

.close-readmore {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  padding: 4px;
  width: 20px;
  height: 20px;
  background-color: transparent;

  border: none;

  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  :focus {
    color: getColor('yellow-main');
  }
}

.close-modal {
  fill: currentColor;
  width: 11px;
  height: 11px;

  &:hover,
  :focus {
    fill: currentColor;
  }

  @include tablet {
    width: 24px;
    height: 24px;

    & .close-modal {
      width: 13px;
      height: 13px;
    }
  }
}

.iframe-video {
  margin-top: 20px;

  width: 224px;
  height: 199px;
  border-radius: 10px;

  @include tablet {
    margin-top: 32px;
    width: 448px;
    height: 205px;
  }
}

.modal-textread {
  margin-top: 20px;

  font-size: 14px;
  line-height: calc(20 / 14);

  color: getColor('theme-black');

  @include tablet {
    font-size: 16px;
    line-height: calc(23 / 16);
  }
}
