%title {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 36px;
  line-height: calc(45 / 32);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

// .overlay {
//   /* Скрываем подложку  */
//   opacity: 0;
//   visibility: hidden;
  
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, .5);
//   z-index: 20;
//   transition: .3s all;
// }


// /* Стили для модальных окон */

// .modal {
  
//   /* Скрываем окна  */
//   opacity: 0;
//   visibility: hidden;
  
//   /*  Центрируем и задаем z-index */
//   position: fixed;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   z-index: 30; /* Должен быть выше чем у подложки*/
// }


// /* Стили для активных классов подложки и окна */

// .modal.active,
// .overlay.active{
//   opacity: 1;
//   visibility: visible;
// }
