<div class="modal" data-modal="buy-now">
  <div class="buy-now-modal form">
    <form class="buy-now-form">
      <h2 class="buy-now-form__title">Buy now</h2>
      <button class="btn-modal-close js-modal-close toggle-modal-close">
        <svg class="btn-modal-close__icon" width="11px" height="11px">
          <use href="./images/icons.svg#mobile_menu_x"></use>
        </svg>
      </button>
      <ul class="buy-now-list">
        <li class="buy-now-list__item">
          <label>
            <input
              type="radio"
              name="ice-cream"
              value="ice-cream"
              class="buy-now-list__input buy-now-list__input--first visually-hidden"
            />
            <div class="custom-checkbox custom-checkbox--first"></div>
            <img
              srcset="
                ./images/modal/cream-modal@1x.png 1x,
                ./images/modal/cream-modal@2x.png 2x
              "
              src="./images/modal/cream-modal@1x.png"
              alt="Ice cream"
              class="buy-now-list__ice"
              width="132"
              height="132"
            />
            <b class="buy-now-list__desc buy-now-list__desc--first"
              >ice cream</b
            >
          </label>
        </li>
        <li class="buy-now-list__item">
          <label>
            <input
              type="radio"
              name="ice-cream"
              value="ice-coffee"
              class="buy-now-list__input buy-now-list__input--second visually-hidden"
            />
            <div class="custom-checkbox custom-checkbox--second"></div>
            <img
              srcset="
                ./images/modal/coffee-modal@1x.png 1x,
                ./images/modal/coffee-modal@2x.png 2x
              "
              src="./images/modal/coffee-modal@1x.png"
              alt="ice coffee"
              class="buy-now-list__ice"
              width="132"
              height="132"
            />
            <b class="buy-now-list__desc buy-now-list__desc--second"
              >ice coffee</b
            >
          </label>
        </li>
        <li class="buy-now-list__item">
          <label>
            <input
              type="radio"
              name="ice-cream"
              value="milkshake"
              class="buy-now-list__input buy-now-list__input--third visually-hidden"
            />
            <div class="custom-checkbox custom-checkbox--third"></div>
            <img
              srcset="
                ./images/modal/shake-modal@1x.png 1x,
                ./images/modal/shake-modal@2x.png 2x
              "
              src="./images/modal/shake-modal@1x.png"
              alt="milkshake"
              class="buy-now-list__ice"
              width="132"
              height="132"
            />
            <b class="buy-now-list__desc buy-now-list__desc--third">
              milkshake</b
            >
          </label>
        </li>
      </ul>
      <div class="form-contacts__wrap">
        <div class="form-contacts__field">
          <input
            class="form-contacts__input"
            name="name"
            id="name"
            required
            pattern="[A-Za-z] {1,15}"
            placeholder=" "
          />
          <label for="name" class="form-contacts__label">Name</label>
        </div>
        <div class="form-contacts__field">
          <input
            class="form-contacts__input"
            name="tel"
            id="tel"
            required
            placeholder=" "
            pattern="^[\+]?3?[\s]?8?[\s]?\(?0\d{2}?\)?[\s]?\d{3}[\s|-]?\d{2}[\s|-]?\d{2}$"
          />
          <label for="tel" class="form-contacts__label">Phone</label>
        </div>
        <div class="form-contacts__field">
          <textarea
            class="form-contacts__textarea"
            name="comment"
            id="comment"
            rows="1"
            placeholder=" "
          ></textarea>
          <label for="comment" class="form-contacts__label">Comment</label>
        </div>
      </div>
      <button type="submit" class="btn-modal">Submit</button>
    </form>
  </div>
</div>
