<div class="modal" data-modal="buy-now">
  <div class="form">
    <form>
      <h3 class="form__title">Buy now</h3>
      <button class="form__close js-modal-close">
        <svg class="form__icon-close" width="11px" height="11px">
          <use href="./images/icons.svg#mobile_menu_x"></use>
        </svg>
      </button>
      <div class="form__container">
        <div class="form__radio">
          <label>
            <input
              type="radio"
              name="ice-cream"
              value="ice-cream"
              class="form__choice"
            />
            <img
              srcset="
                ./images/modal/cream-modal@1x.png 1x,
                ./images/modal/cream-modal@2x.png 2x
              "
              src="./images/modal/cream-modal@1x.png"
              alt="Ice cream"
              class="form__ice"
              width="132"
              height="132"
            />
            <b class="form__product">ice cream</b>
          </label>
        </div>
        <div class="form__radio">
          <label>
            <input
              type="radio"
              name="ice-cream"
              value="ice-coffee"
              class="form__choice"
            />
            <img
              srcset="
                ./images/modal/coffee-modal@1x.png 1x,
                ./images/modal/coffee-modal@2x.png 2x
              "
              src="./images/modal/coffee-modal@1x.png"
              alt="ice coffee"
              class="form__ice"
              width="132"
              height="132"
            />
            <b class="form__product">ice coffee</b>
          </label>
        </div>
        <div class="form__radio">
          <label>
            <input
              type="radio"
              name="ice-cream"
              value="milkshake"
              class="form__choice"
            />
            <img
              srcset="
                ./images/modal/shake-modal@1x.png 1x,
                ./images/modal/shake-modal@2x.png 2x
              "
              src="./images/modal/shake-modal@1x.png"
              alt="milkshake"
              class="form__ice"
              width="132"
              height="132"
            />
            <b class="form__product">milkshakes</b>
          </label>
        </div>
      </div>
      <div class="form-contacts__wrap">
        <div class="form-contacts__field">
          <input
            class="form-contacts__input"
            name="name"
            id="name"
            required
            pattern="[A-Za-z] {1,15]"
            placeholder=" "
          />
          <label for="name" class="form-contacts__label">Name</label>
        </div>
        <div class="form-contacts__field">
          <input
            class="form-contacts__input"
            name="tel"
            id="tel"
            required
            placeholder=" "
            pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
          />
          <label for="tel" class="form-contacts__label">Phone</label>
        </div>
        <div class="form-contacts__field">
          <textarea
            class="form-contacts__textarea"
            name="comment"
            id="comment"
            rows="1"
            placeholder=" "
          ></textarea>
          <label for="comment" class="form-contacts__label">Comment</label>
        </div>
      </div>
      <div class="form__btn">
        <button type="submit" class="form__sabmit">Submit</button>
      </div>
    </form>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
