<div class="modal" data-modal="location">
  <div class="location__modal">
    <button type="button" class="location__button js-modal-close">
      <svg class="location__icon">
        <use href="./images/icons.svg#mobile_menu_x"></use>
      </svg>
    </button>
    <h2 class="location__title">Our Locations</h2>
    <div class="location__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.55860754075!2d34.48719848171929!3d49.602134576657825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e5a6576a0d%3A0xcdfded8b7b40ec91!2sPoltava%2C%20Poltava%20Oblast%2C%2036000!5e0!3m2!1sen!2sua!4v1673559989371!5m2!1sen!2sua"
        width="448"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        class="iframe-map"
      ></iframe>
    </div>
    <a
      href="https://goo.gl/maps/JruNqW4kKqGKsMNL6"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="location__button-open-map"
      >Open map
    </a>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
