<div class="modal" data-modal="products-card">
  <div class="product__modal">
    <button class="product__btnclose js-modal-close" type="button">
      <svg class="product__icon-close">
        <use href="./images/icons.svg#mobile_menu_x" width="100%"></use>
      </svg>
    </button>

    <h3 class="product__md-title">Chololate icecream</h3>

    <div class="product__modal-box-img"></div>

    <ul class="product__benefit-list">
      <li class="product__benefit-item">
        <div class="product__benefit-box">
          <p class="product__benefit-value">320</p>
        </div>

        <p class="product__benefit-descr">kcal</p>
      </li>
      <li class="product__benefit-item">
        <div class="product__benefit-box">
          <p class="product__benefit-value">4g</p>
        </div>

        <p class="product__benefit-descr">
          Prote<span class="product__benefit-hidden">in</span>...
        </p>
      </li>
      <li class="product__benefit-item">
        <div class="product__benefit-box">
          <p class="product__benefit-value">8,2g</p>
        </div>

        <p class="product__benefit-descr">Fats</p>
      </li>
      <li class="product__benefit-item">
        <div class="product__benefit-box">
          <p class="product__benefit-value">40,4g</p>
        </div>

        <p class="product__benefit-descr">Carbs</p>
      </li>
    </ul>

    <div class="product__md-ingred">
      <h4 class="product__ingred-title">Ingredients</h4>
      <div class="product__md-ingred-tabl">
        <ul class="product__ingred-descr">
          <li class="product__ingred-item">Milk</li>
          <li class="product__ingred-item">Belgian chocolate</li>
          <li class="product__ingred-item">Cream</li>
          <li class="product__ingred-item">Cocoa powder</li>
          <li class="product__ingred-item">CSugar</li>
          <li class="product__ingred-item">Vanilla sugar</li>
        </ul>

        <ul class="product__ingred-value">
          <li class="product__ingred-item">100ml</li>
          <li class="product__ingred-item">20g</li>
          <li class="product__ingred-item">150 ml</li>
          <li class="product__ingred-item">30g</li>
          <li class="product__ingred-item">40g</li>
          <li class="product__ingred-item">10g</li>
        </ul>
      </div>
    </div>

    <div class="form-contacts__wrap">
      <div class="form-contacts__field">
        <input
          class="form-contacts__input"
          name="name"
          id="name"
          required
          pattern="[A-Za-z] {1,15]"
          placeholder=" "
        />
        <label for="name" class="form-contacts__label">Name</label>
      </div>
      <div class="form-contacts__field">
        <input
          class="form-contacts__input"
          name="tel"
          id="tel"
          required
          placeholder=" "
          pattern="[\+]\d{3}\s[\(]\d{2}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
        />
        <label for="tel" class="form-contacts__label">Phone</label>
      </div>
      <div class="form-contacts__field">
        <textarea
          class="form-contacts__textarea"
          name="comment"
          id="comment"
          rows="1"
          placeholder=" "
        ></textarea>
        <label for="comment" class="form-contacts__label">Comment</label>
      </div>
    </div>
    <button type="submit" class="product__md-btn btn btn-yellow">Submit</button>
  </div>
</div>
