<div class="modal" data-modal="read-more">
  <div class="modal-readmore">
    <h2 class="title-readmore">How it`s made?</h2>
    <iframe
      class="iframe-video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/aT9Vjd9ggSo"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    <p class="modal-textread">
      A bright aroma of vanilla and a delicate milk and cream base - in vanilla
      ice cream everything is fine. And vanilla ice cream perfectly complements
      the taste apple strudel, tiramisu, cheesecake and other desserts.
    </p>
    <button type="button" class="close-readmore js-modal-close">
      <svg class="close-modal" width="12" heigth="12">
        <use href="./images/icons.svg#mobile_menu_x"></use>
      </svg>
    </button>
  </div>
</div>
