<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Our advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item">
        <h2 class="advantages-list__title">721</h2>
        <p class="advantages-list__text">
          Cows work every day to create the most delicious ice cream.
        </p>
      </li>
      <li class="advantages-list__item">
        <h2 class="advantages-list__title">16ltr</h2>
        <p class="advantages-list__text">
          That's how much milk we get from one wonderful cow per day.
        </p>
      </li>
      <li class="advantages-list__item">
        <h2 class="advantages-list__title">84</h2>
        <p class="advantages-list__text">
          Ice creams are made every day to make people happier.
        </p>
      </li>
    </ul>
  </div>
</section>
