<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">List of addresses of representative offices of compannies</h2>

    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__pre-title">CAFE</p>
        <h3 class="contacts__title">Chicago</h3>
        <address class="contacts__addresses">
          <a
            href="https://goo.gl/maps/X3x532GnqmV6juVT9"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contacts__link-orange"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>

        <ul class="work-shedule">
          <li class="work-shedule__item">
            <p class="work-shedule__text">Monday - Friday</p>
            <time class="work-shedule__time" datetime="06:00">06:00 AM</time>
            <span>-</span>
            <time class="work-shedule__time" datetime="10:00">10:00 PM</time>
          </li>
          <li class="work-shedule__item">
            <p class="work-shedule__text">Saturday - Sunday</p>
            <time class="work-shedule__time" datetime="08:00">08:00 AM</time>
            <span>-</span>
            <time class="work-shedule__time" datetime="16:00">16:00 PM</time>
          </li>
        </ul>

        <div class="contacts__connection">
          <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts__item">
        <p class="contacts__pre-title">FOOD TRUCK</p>
        <h3 class="contacts__title">Los Angeles</h3>
        <address class="contacts__addresses">
          <a
            href="https://goo.gl/maps/2uWRQVcKfBqWiVA78"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contacts__link-orange"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>

        <ul class="work-shedule">
          <li class="work-shedule__item">
            <p class="work-shedule__text">Monday - Friday</p>
            <time class="work-shedule__time" datetime="06:00">06:00 AM</time>
            <span>-</span>
            <time class="work-shedule__time" datetime="10:00">10:00 PM</time>
          </li>
          <li class="work-shedule__item">
            <p class="work-shedule__text">Saturday - Sunday</p>
            <time class="work-shedule__time" datetime="08:00">08:00 AM</time>
            <span>-</span>
            <time class="work-shedule__time" datetime="16:00">16:00 PM</time>
          </li>
        </ul>

        <div class="contacts__connection">
          <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts__item">
        <p class="contacts__pre-title">CAFE</p>
        <h3 class="contacts__title">New York</h3>
        <address class="contacts__addresses">
          <a
            href="https://goo.gl/maps/vUbYZenNEvYyMwox6"
            target="_blank"
            rel="noopener noreferrer nofollow"
            class="contacts__link-orange"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>

        <ul class="work-shedule">
          <li class="work-shedule__item">
            <p class="work-shedule__text">Monday - Friday</p>
            <time class="work-shedule__time" datetime="06:00">06:00 AM</time>
            <span>-</span>
            <time class="work-shedule__time" datetime="10:00">10:00 PM</time>
          </li>
          <li class="work-shedule__item">
            <p class="work-shedule__text">Saturday - Sunday</p>
            <time class="work-shedule__time" datetime="08:00">08:00 AM</time>
            <span>-</span>
            <time class="work-shedule__time" datetime="16:00">16:00 PM</time>
          </li>
        </ul>

        <div class="contacts__connection">
          <a href="tel:+61(0)383766284" class="contacts__link">+61(0) 383 766 284</a>
          <a href="mailto:noreply@envato.com" class="contacts__link">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <div class="button__group">
      <button class="button button__first" type="button" data-modal-open>
        <span class="button__text">Our Locations</span>
        <svg class="button__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <button class="button button__two" type="button">
        <span class="button__text">Franchise</span>
        <svg class="button__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
