<footer class="footer">
  <div class="conteiner">
    <div class="footer-box">
      <div class="footer-name">
        <h2 class="footer-head">homemade ice cream made</h2>
        <p class="footer-head__description">with passion</p>
      </div>
      <div class="footer-contacts">
        <ul class="footer-contacts__list">
          <li class="footer-contacts__item">
            <a class="footer-contacts__link" href="https://github.com/"
              ><svg width="20px" height="20px">
                <use href="./images/icons.svg#icon-github"></use></svg
            ></a>
          </li>
          <li class="footer-contacts__item">
            <a class="footer-contacts__link" href="https://web.telegram.org/k/"
              ><svg width="20.4px" height="15.87px">
                <use href="./images/icons.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="footer-contacts__item">
            <a class="footer-contacts__link" href="https://uk-ua.facebook.com/"
              ><svg width="9.35px" height="20.4px">
                <use href="./images/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>
        <p class="footer-call">
          Feel free to contact
          <a class="footer-call__link" href="tel: +610383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>

    <div class="footer-copyrights">
      <p class="footer-copyrights__item">&copy; 2022 - IceCream.</p>
      <p class="footer-copyrights__item">All Rights Reserved.</p>
    </div>
  </div>
</footer>
