<section class="reviews">
    <div class="container reviews__container">
<h2 class="visually-hidden">Reviews</h2>


<div class="one-time">

    <div class="reviews__wrapper">
        <picture class="reviews__img-background">
            <source srcset="./images/gallery/ice-berries-desc@1x.jpg 1x, ./images/gallery/ice-berries-desc@2x.jpg 2x" media="(min-widht:1200px)">
            <source srcset="./images/gallery/ice-berries-tab@1x.jpg 1x, ./images/gallery/ice-berries-tab@2x.jpg 2x" media="(min-widht:768px)">
            <source srcset="./images/gallery/ice-berries-mob@1x.jpg 1x, ./images/gallery/ice-berries-mob@2x.jpg 2x" media="(min-widht:480px)">
        <img srcset="./images/gallery/ice-berries-desc@1x.jpg 1x, ./images/gallery/ice-berries-desc@2x.jpg 2x" src="./images/gallery/ice-berries-desc@1x.jpg" alt="ice-berries" width="1013" height="422">
        </picture>
        <picture class="reviews__img-person">
            <img srcset="./images/gallery/person@1x.jpg 1x, ./images/gallery/person@2x.jpg 2x" src="./images/gallery/person@1x.jpg" alt="person" width="85" height="85">
        </picture>
        <p class="reviews__item"> I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
        <h3 class="reviews__title">Emily, Los Angeles</h3>
    </div>

    <div class="reviews__wrapper">
        <picture class="reviews__img-background">
            <source srcset="./images/gallery/ice-cream2-desc@1x.jpg 1x, ./images/gallery/ice-cream2-desc@2x.jpg 2x" media="(min-widht:1200px)">
            <source srcset="./images/gallery/ice-berries-tab@1x.jpg 1x, ./images/gallery/ice-berries-tab@2x.jpg 2x" media="(min-widht:768px)">
            <source srcset="./images/gallery/ice-berries-mob@1x.jpg 1x, ./images/gallery/ice-berries-mob@2x.jpg 2x" media="(min-widht:480px)">
        <img srcset="./images/gallery/ice-cream2-desc@1x.jpg 1x, ./images/gallery/ice-cream2-desc@2x.jpg 2x" src="./images/gallery/ice-cream2-desc@1x.jpg" alt="ice-berries" width="1013" height="422">
        </picture>
        <picture class="reviews__img-person">
            <img srcset="./images/gallery/person2@1x.jpg 1x, ./images/gallery/person2@2x.jpg 2x" src="./images/gallery/person2@1x.jpg" alt="person" width="85" height="85">
        </picture>
        <p class="reviews__item">Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!</p> 
        <h3 class="reviews__title">Bryan, New-York</h3>
    </div>

    <div class="reviews__wrapper">
        <picture class="reviews__img-background">
            <source srcset="./images/gallery/ice-cherry@1x.jpg 1x, ./images/gallery/ice-cherry@2x.jpg 2x" media="(min-widht:1200px)">
            <source srcset="./images/gallery/ice-berries-tab@1x.jpg 1x, ./images/gallery/ice-berries-tab@2x.jpg 2x" media="(min-widht:768px)">
            <source srcset="./images/gallery/ice-berries-mob@1x.jpg 1x, ./images/gallery/ice-berries-mob@2x.jpg 2x" media="(min-widht:480px)">
        <img srcset="./images/gallery/ice-cherry@1x.jpg 1x, ./images/gallery/ice-cherry@2x.jpg 2x" src="./images/gallery/ice-cherry@1x.jpg" alt="ice-berries" width="1013" height="422">
        </picture>
        <picture class="reviews__img-person">
            <img srcset="./images/gallery/person3@1x.jpg 1x, ./images/gallery/person3@2x.jpg 2x" src="./images/gallery/person3@1x.jpg" alt="person" width="85" height="85">
        </picture>
        <p class="reviews__item">Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!</p>
        <h3 class="reviews__title">Diana, Chicago</h3>
    </div>

  </div>

</div>
</section>
