<header class="header" id="home">
  <div class="container container--header">
    <img
      srcset="
        ./images/header/logo-mob@1x.png   40w,
        ./images/header/logo-tab@1x.png   48w,
        ./images/header/logo-desk@1x.png  60w,
        ./images/header/logo-mob@2x.png   80w,
        ./images/header/logo-tab@2x.png   96w,
        ./images/header/logo-desk@2x.png 120w
      "
      sizes="(min-width: 1200px) 60px, (min-width: 480px) 48px, 40px"
      src="./images/header/logo-mob@1x.png"
      alt="logo"
    />
    <nav>
      <ul class="navigation-list">
        <li
          class="navigation-list__item animate__animated animate__slideInDown animate__delay-1s"
        >
          <a href="#home" class="navigation-list__link">Home</a>
        </li>
        <li
          class="navigation-list__item animate__animated animate__slideInDown animate__delay-2s"
        >
          <a href="#about" class="navigation-list__link">How it’s made?</a>
        </li>
        <li
          class="navigation-list__item animate__animated animate__slideInDown animate__delay-3s"
        >
          <a href="#products" class="navigation-list__link">Our products</a>
        </li>
        <li
          class="navigation-list__item animate__animated animate__slideInDown animate__delay-4s"
        >
          <a href="#contact" class="navigation-list__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__buttons">
      <button
        type="button"
        class="btn-menu-burger js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          width="32"
          height="32"
          class="btn-menu-burger__icon"
          aria-label="mobile menu switch"
        >
          <use href="./images/icons.svg#mobile_menu"></use>
        </svg>
      </button>
      <button
        type="button"
        class="btn-header js-open-modal"
        data-modal="buy-now"
      >
        Buy now
        <svg width="6" height="10" class="btn__icon">
          <use href="./images/icons.svg#semi_arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
