<section class="products">
  <div class="container products__container">
    <p class="products__suptitle">100% natural</p>
    <h2 class="title products__title">products</h2>
    <ul class="products__list list">
      <li class="products__item item-cream">
        <!-- <picture>
          <source
            srcset="
              ./images/products/cream-desk@1x.png 1x,
              ./images/products/cream-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products/cream-mob-tab@1x.png 1x,
              ./images/products/cream-mob-tab@2x.png 2x
            "
            media="(min-width: 768px)
"
          />
          <source
            srcset="
              ./images/products/cream-mob-tab@1x.png 1x,
              ./images/products/cream-mob-tab@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products/cream-desk@1x.png"
            alt="Product ice cream"
            class="products__item-img"
          />
        </picture> -->

        <h3 class="products__item-title item-before-cream">ice cream</h3>
        <div class="products__item-wrapper">
          <p class="products__item-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>

        <button type="button" class="products__modal-open-btn">
          <svg
            lang="en"
            aria-label="Open button"
            class="products__modal-open-icon"
            width="40"
            height="16"
          >
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item item-coffee">
        <!-- <picture>
          <source
            srcset="
              ./images/products/coffee-desk@1x.png 1x,
              ./images/products/coffee-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products/coffee-mob-tab@1x.png 1x,
              ./images/products/coffee-mob-tab@2x.png 2x
            "
            media="(min-width: 768px)
"
          />
          <source
            srcset="
              ./images/products/coffee-mob-tab@1x.png 1x,
              ./images/products/coffee-mob-tab@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products/coffee-desk@1x.png"
            alt="Product ice coffe"
            class="products__item-img"
          />
        </picture> -->

        <h3 class="products__item-title item-before-coffee">ice coffee</h3>
        <div class="products__item-wrapper">
          <p class="products__item-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>

        <button type="button" class="products__modal-open-btn">
          <svg
            lang="en"
            aria-label="Open button"
            class="products__modal-open-icon"
            width="40"
            height="16"
          >
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item item-shakes">
        <!-- <picture>
          <source
            srcset="
              ./images/products/shake-desk@1x.png 1x,
              ./images/products/shake-desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/products/shake-mob-tab@1x.png 1x,
              ./images/products/shake-mob-tab@2x.png 2x
            "
            media="(min-width: 768px)
"
          />
          <source
            srcset="
              ./images/products/shake-mob-tab@1x.png 1x,
              ./images/products/shake-mob-tab@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/products/shake-desk@1x.png"
            alt="Product milkshakes"
            class="products__item-img"
          />
        </picture> -->

        <h3 class="products__item-title item-title-shakes">milkshakes</h3>
        <div class="products__item-wrapper">
          <p class="products__item-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button type="button" class="products__modal-open-btn">
          <svg
            lang="en"
            aria-label="Open button"
            class="products__modal-open-icon"
            width="40"
            height="16"
          >
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
