<section class="products" id="products">
  <div class="container">
    <p class="products__subtitle">100% natural</p>
    <h2 class="title products__title">products</h2>
    <ul class="products__list">
      <li class="products__item products-img-cream">
        <h3 class="products__item-title products-cream">ice cream</h3>
        <div class="products__item-wrapper">
          <p class="products__item-text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>
        </div>
        <button
          type="button"
          class="products__modal-open-btn js-open-modal js-modal-scrollon"
          data-modal="products-card"
        >
          <svg
            aria-label="Open button"
            class="products__modal-open-icon"
            width="40"
            height="16"
          >
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products-img-coffee">
        <h3 class="products__item-title products-coffee">ice coffee</h3>
        <div class="products__item-wrapper">
          <p class="products__item-text">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button
          type="button"
          class="products__modal-open-btn js-open-modal"
          data-modal="products-card"
        >
          <svg
            aria-label="Open button"
            class="products__modal-open-icon"
            width="40"
            height="16"
          >
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products-img-shakes">
        <h3 class="products__item-title products-shakes">milkshakes</h3>
        <div class="products__item-wrapper">
          <p class="products__item-text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
        </div>
        <button
          type="button"
          class="products__modal-open-btn js-open-modal"
          data-modal="products-card"
        >
          <svg
            aria-label="Open button"
            class="products__modal-open-icon"
            width="40"
            height="16"
          >
            <use href="./images/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
