.back-to-top {
  position: fixed;
  background: getColor('yellow-main');
  color: getColor('theme-white');
  border-radius: 50%;
  display: flex;
  bottom: -50px;
  padding: 10px 12px;
  right: 20px;
  cursor: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%238AE0A1' stroke-width='1' d='m18.047 14.012 10.934 10.205c1.871 1.746.837 4.883-1.706 5.174l-4.118.47a5 5 0 0 0-2.777 1.251l-2.373 2.136c-1.93 1.738-5.007.368-5.007-2.23V16.206c0-2.623 3.13-3.983 5.047-2.193Z'/%3E%3C/svg%3E"),
    default;
  transition: 0.3s all;
}

.back-to-top.active {
  bottom: 50px;
  transition: 0.3s all;
}

.back-icon {
  fill: getColor('green-main');
}

.back-icon:hover,
.back-icon:focus {
  fill: getColor('theme-white');
}

.btn-header {
  @extend %button;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    
  }
  &:focus > .btn__icon {
    fill: getColor('theme-white');
    cursor: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none'%3E%3Cpath xmlns='http://www.w3.org/2000/svg' stroke='%238AE0A1' stroke-width='2' d='m18.047 14.012 10.934 10.205c1.871 1.746.837 4.883-1.706 5.174l-4.118.47a5 5 0 0 0-2.777 1.251l-2.373 2.136c-1.93 1.738-5.007.368-5.007-2.23V16.206c0-2.623 3.13-3.983 5.047-2.193Z'/%3E%3C/svg%3E");
  }
}

.btn-hero {
  background-color: transparent;
  border-color: transparent;
}

.btn-hero_icon {
  fill: getColor('theme-white');
}

.btn-products {
  background-color: transparent;
  border-color: transparent;
  margin: 0 auto;
}

.btn-about {
  @extend %button;
  &:focus > .btn__icon {
    fill: getColor('theme-white');
  }
}

.btn-contacts {
  @extend %button;
  width: 196px;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 16px;
  }
  &:focus > .btn__icon {
    fill: getColor('theme-white');
  }
}

.btn-transparent-contacts {
  @extend %button;
  width: 196px;
  background-color: transparent;
  &:focus > .btn__icon {
    fill: getColor('theme-white');
  }
}

.btn__icon {
  margin-left: 7px;
}

// ---------Menu buttons-------------

.btn-menu-burger {
  @extend %button-menu-modal;
  width: 32px;
  height: 32px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.btn-menu-burger__icon {
  fill: getColor('theme-white');
}

.btn-menu {
  @extend %button;
  margin: 0 auto;
  display: block;

  @media screen and (min-width: 768px) {
    display: none;
  }
  &:focus > .btn__icon {
    fill: getColor('theme-white');
  }
}

.btn-menu-close {
  @extend %button-menu-modal;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
  @media screen and (min-width: 480px) {
    top: 20px;
    right: 20px;
  }
  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }
}

.btn-menu-close__icon {
  fill: getColor('theme-white');
}

// ---------Modal buttons----------

.btn-modal {
  @extend %button;
  margin: 0 auto;
}

.btn-modal-close {
  @extend %button-menu-modal;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.btn-modal-close__icon {
  fill: getColor('theme-black');
}
