@media screen and (max-width: 767px) {
  .about {
    text-align: center;
  }
}

.about__label {
  margin: 60px auto 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;
  color: getColor('theme-white');

  @include tablet {
    font-weight: 800;
    font-size: 22px;
    line-height: calc(27 / 22);

    text-align: center;
    letter-spacing: 0.04em;
  }

  @include desktop {
    font-size: 30px;
    line-height: calc(37 / 30);

    text-align: center;
    letter-spacing: 0.04em;
  }
}

.adout__title {
  margin: 12px auto 0;
  width: 200px;
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColor('theme-white');

  @include tablet {
    display: block;
    width: auto;
    font-size: 34px;
    line-height: calc(43 / 34);
    text-align: center;
    letter-spacing: 0.06em;
  }

  @include desktop {
    font-size: 36px;
    line-height: calc(45 / 36);
  }
}

.about__content {
  margin-top: 32px;

  @include tablet {
    display: inline-flex;
    margin-top: 72px;
    padding-left: 17px;
  }

  @include desktop {
    margin-top: 82px;
    padding-left: 1px;
  }
}

.about__img {
  display: inline-block;
  position: relative;
  border-radius: 50%;

  min-width: 279px;
  min-height: 279px;
  background: linear-gradient(
      0deg,
      getColor('yellow-transparent'),
      getColor('yellow-transparent')
    ),
    getColor('theme-grey');

  @include tablet {
    min-width: 330px;
    min-height: 330px;
  }

  @include desktop {
    min-width: 490px;
    min-height: 490px;
  }
}

.about__cow {
  position: absolute;
  top: 22px;
}

@media screen and (max-width: 767px) {
  .about__text {
    margin-top: 62px;
  }
}

@media screen and (min-width: 1200px) {
  .about__text {
    margin-right: 121px;
  }
}

.about__list {
  display: inline-block;
  margin-top: 0px;

  @include tablet {
    padding-top: 8px;
    padding-left: 38px;
  }

  @include desktop {
    padding-top: 90px;
    padding-left: 110px;
  }
}

.about__item {
  width: 220px;

  @include tablet {
    width: 334px;
  }

  @include desktop {
    width: 463px;
  }
}

@media screen and (min-width: 768px) {
  .about__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.about__text-firstone {
  display: block;

  margin: auto;

  font-size: 12px;
  line-height: calc(21 / 12);

  letter-spacing: 0.04em;
  color: getColor('theme-white');

  @include desktop {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}

.about__text-firstsecond {
  margin: 4 auto 0;
  margin-left: auto;
  margin-right: auto;

  font-size: 12px;
  line-height: calc(19 / 12);
  color: getColor('theme-white');

  @include desktop {
    font-size: 14px;
    line-height: calc(27 / 14);

    letter-spacing: 0.04em;
  }
}

@media screen and (max-width: 767px) {
  .about__text-second {
    display: none;
  }
}

.about__text-second {
  @include tablet {
    font-size: 12px;
    line-height: calc(23 / 12);

    letter-spacing: 0.04em;

    color: getColor('theme-white');
  }

  @include desktop {
    font-size: 14px;
    line-height: calc(27 / 14);

    letter-spacing: 0.04em;
  }
}

.about-btn {
  display: flex;
  width: 164px;
  height: 42px;
  padding-left: 34px;
  align-items: center;

  margin: 10px auto 0;

  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);

  color: getColor('button-text');
  border: none;
  background: getColor('yellow-main');

  border-radius: 10px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    margin: 54px 0 0 36px;
  }

  @include desktop {
    margin-left: 110px;
  }

  &:hover {
    background: getColor('button-hover-focus');
  }
  &:focus {
    background: getColor('button-hover-focus');
    color: getColor('theme-white');
  }
}

.button-icon {
  margin-left: 4px;
  width: 12px;
  height: 12px;
  fill: currentColor;
}
