.contacts {
  padding-bottom: 60px;
  margin-top: -353px;

  @include tablet {
    padding-bottom: 40px;
    margin-top: -299px;
  }

  @include desktop {
    padding-bottom: 120px;
    margin-top: -128px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;

  @media screen and (max-width: 479px) {
    margin-bottom: 20px;
  }

  @include tablet {
    margin-bottom: 40px;
  }

  @include desktop {
    gap: 32px;
    margin-bottom: 60px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 280px;
  max-height: 412px;
  padding: 40px 36px 24px 32px;
  background-color: getColor('white-contacts');
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc((100% - 32px) / 3);
    max-width: 224px;
    max-height: 537px;
    padding: 40px 42px 40px 24px;
  }

  @include desktop {
    flex-basis: calc((100% - 64px) / 3);
    max-width: 368px;
    max-height: 542px;
    padding: 40px;
  }
}

.contacts__pre-title {
  display: flex;
  width: max-content;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: getColor('theme-black');
  background-color: getColor('yellow-main');
  border-radius: 4px;
  padding: 4px 22px;
  margin-bottom: 20px;
  max-height: 22px;

  @include tablet {
    padding: 4px 13px;
    font-size: 16px;
    line-height: calc(22 / 16);
    letter-spacing: 0.04em;
    margin-bottom: 32px;
    max-height: 30px;
    border-radius: 6px;
  }

  @include desktop {
    padding: 4px 14px;
    margin-bottom: 32px;
    max-height: 30px;
    border-radius: 6px;
  }
}

.contacts__title {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  color: getColor('theme-black');
  margin-bottom: 8px;

  @include tablet {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @include desktop {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.contacts__addresses {
  margin-bottom: 24px;

  @include tablet;
  @include desktop {
    margin-bottom: 32px;
  }
}

.contacts__link-orange {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  letter-spacing: 0.04em;
  color: getColor('orange-main');
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration-line: underline;
  }

  @include tablet {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @include desktop {
    font-size: 16px;
    line-height: calc(29 / 16);
  }
}

.work-shedule {
  border-top: 1px solid getColor('footer-border');
  border-bottom: 1px solid getColor('footer-border');
  padding: 24px 0px;
  margin-bottom: 24px;

  @include tablet;
  @include desktop {
    padding: 32px 0px;
    margin-bottom: 32px;
  }
}

.work-shedule__item:not(:last-child) {
  margin-bottom: 8px;
}

.work-shedule__text {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  color: getColor('theme-black');

  @include tablet {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @include desktop {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
}

.work-shedule__time {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(22 / 12);
  color: getColor('theme-grey-2');

  @include tablet {
    font-size: 14px;
    line-height: calc(26 / 14);
  }

  @include desktop {
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  & + span {
    font-weight: 500;
    color: getColor('theme-grey-2');
  }
}

.contacts__connection {
  max-width: 130px;
  max-height: 44px;

  @include tablet {
    max-width: 151px;
    max-height: 46px;
  }

  @include desktop {
    max-width: 173px;
    max-height: 52px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(19 / 12);
  letter-spacing: normal;
  color: getColor('theme-black');
  cursor: pointer;

  &:hover,
  &:focus {
    color: getColor('orange-main');
  }

  &:not(:last-child) {
    margin-bottom: 6px;
  }

  @include tablet {
    font-size: 14px;
    line-height: calc(21 / 14);
  }

  @include desktop {
    font-size: 16px;
    line-height: calc(24 / 16);
  }
}

.button__group {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }

  @include desktop {
    flex-direction: row;
    justify-content: center;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 196px;
  height: 42px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(18 / 14);
  color: getColor('theme-black');
  padding: 12px 39px 12px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  &.button__text {
    font-weight: 600;
    color: getColor('theme-black');
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.button__icon {
  margin-left: 4px;
  fill: currentColor;
}

.button__first {
  color: getColor('button-text');
  background-color: getColor('yellow-main');
  border-color: getColor('yellow-main');
  border-radius: 10px;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor('button-hover-focus');
    border-color: getColor('button-hover-focus');
  }
  &:disabled {
    background-color: getColor('button-disable');
    border-color: getColor('button-disable');
  }
  &:focus {
    color: getColor('theme-white');
  }

  @include tablet {
    margin-right: 16px;
  }
}

.button__two {
  border: 2px solid getColor('yellow-main');
  background-color: transparent;
  color: getColor('button-text');
  border-radius: 10px;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: getColor('button-hover-focus');
  }
  &:disabled {
    border-color: getColor('button-disable');
  }
  &:focus {
    color: getColor('theme-white');
  }
}
