.reviews {
  border-top: 30px solid getColor('primary-bg-color');
  background-image: url(/src/images/bg-mob@1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url(/src/images/bg-mob@2x.png);
  }

  @include tablet {
    border-top: 145px solid getColor('primary-bg-color');
    background-image: url(/src/images/bg-tab@1x.png);

    @include retina {
      background-image: url(/src/images/bg-tab@2x.png);
    }
  }

  @include desktop {
    border-top: 100px solid getColor('primary-bg-color');
    background-image: url(/src/images/bg-desk@1x.png);

    @include retina {
      background-image: url(/src/images/bg-desk@2x.png);
    }
  }
}

.reviews__container {
  margin-top: -30px;
  padding-top: 0;
  padding-bottom: 393px;

  @include tablet {
    margin-top: -145px;
    padding-bottom: 409px;
  }

  @include desktop {
    margin-top: -100px;
    padding-bottom: 228px;
  }
}

img.reviews__img-background {
  border-radius: 12px;
  margin-bottom: 80px;

  @include tablet {
    margin-bottom: 100px;
    border-radius: 18px;
  }

  @include desktop {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    border-radius: 24px;
    margin-bottom: 140px;
  }
}

.reviews__img-person {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  margin-bottom: 32px;
}

.reviews__item {
  padding: 35px 39px 35px 39px;
  margin-bottom: 32px;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: getColor('secondary-text-color');
  background-color: getColor('primary-bg-color');
  border-radius: 10px;

  @include tablet {
    display: flex;
    align-items: center;
    max-height: 130px;
    padding: 80px 28px 80px 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
  }

  @include desktop {
    padding: 43px 109px 43px 109px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    max-width: 968px;
    max-height: 130px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.87;
  }
}

.reviews__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  color: getColor('secondary-heading-color');
}

.slick-dots li {
  width: 12px;
  height: 12px;
  margin: 0 9px;
  border-radius: 50%;
}

.slick-dots li button {
  width: 12px;
  height: 12px;
}

.slick-dots li button:hover,
.slick-dots:hover {
  cursor: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%238AE0A1' stroke-width='1' d='m18.047 14.012 10.934 10.205c1.871 1.746.837 4.883-1.706 5.174l-4.118.47a5 5 0 0 0-2.777 1.251l-2.373 2.136c-1.93 1.738-5.007.368-5.007-2.23V16.206c0-2.623 3.13-3.983 5.047-2.193Z'/%3E%3C/svg%3E"),
    default;
}

.slick-dots li button:before {
  color: getColor('theme-grey');
  width: 12px;
  height: 12px;
}

button:before {
  color: transparent;
  background-color: getColor('theme-grey');
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.slick-dots li.slick-active button:before {
  background-color: getColor('primary-bg-color');
  color: transparent;
  border-radius: 50%;
}
