.hero {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media screen and (max-width: 479px) {
    width: 320px;
    padding-top: 50px;
    padding-bottom: 230px;
  }

  @include mobile {
    width: 480px;
    padding-top: 40px;
    padding-bottom: 150px;
  }

  @media screen and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include tablet {
    width: 768px;
    padding: 16px 32px 24px 32px;
  }

  @include desktop {
    width: 1200px;
    padding: 45px 16px 103px 16px;
  }

  &__title {
    color: getColor('theme-white');
    font-family: 'Seymour One', sans-serif;
    text-transform: uppercase;

    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: 33px;
      letter-spacing: 0.04em;
      width: 247px;
      margin-bottom: 32px;
    }

    @include tablet {
      width: 247px;
      margin-bottom: 24px;
    }

    @include desktop {
      width: 367px;
      font-size: 38px;
      line-height: 48px;
      margin-bottom: 28px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__btn {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);

    @include desktop {
      font-size: 14px;
      line-height: calc(18 / 14);
    }
  }

  &__btn--products {
    color: getColor('button-text');
    width: 108px;
    height: 38px;
    border: 2px solid getColor('yellow-main');
    border-radius: 8px;
    padding: 12px 34px;

    &:hover {
      border: 2px solid getColor('button-hover-focus');
    }

    &:focus {
      color: getColor('theme-white');
    }

    @media screen and (max-width: 1199) {
      margin-right: 12px;
    }

    @include desktop {
      margin-right: 34px;
      border-radius: 10px;
      width: 134px;
      height: 42px;
    }
  }

  &__btn--made {
    text-decoration-line: underline;
    color: getColor('yellow-main');

    &:hover {
      color: getColor('button-hover-focus');
    }

    &:focus {
      color: getColor('theme-white');
    }
  }

  &__counter {
    display: none;
    @include tablet {
      display: flex;
      padding-top: 14px;
    }
    @include desktop {
      padding-top: 10px;
    }
  }

  &__item + &__item {
    margin-top: 20px;
  }

  @include desktop {
    &__item + &__item {
      margin-top: 16px;
    }
  }

  &__number {
    font-weight: 900;
    font-size: 28px;
    line-height: calc(34 / 28);
    text-align: right;
    letter-spacing: 0.04em;
    color: getColor(‘theme-black’);
    display: block;
    margin-bottom: 4px;

    @include desktop {
      font-size: 46px;
      line-height: calc(56 / 46);
      text-align: right;
    }
  }
  &__label {
    font-size: 8px;
    line-height: calc(10 / 8);
    text-align: right;
    color: getColor('theme-white');

    @include desktop {
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }

  &__iceballs {
    position: absolute;
    @include tablet {
      left: 32px;
      bottom: 12px;
    }

    @include desktop {
      left: 16px;
      bottom: 65px;
    }
  }

  &__text {
    font-size: 12px;
    line-height: calc(17 / 12);
    color: getColor('theme-white');
    width: 139px;
    margin-bottom: 12px;

    @include desktop {
      font-size: 14px;
      width: 220px;
      margin-bottom: 24px;
      line-height: calc(20 / 14);
    }
  }

  &__arrow {
    fill: getColor('theme-white');
  }
}

.container-hero {
  display: flex;
  justify-content: space-between;

  @include tablet {
    margin-bottom: 39px;
  }

  @include desktop {
    margin-bottom: 109px;
  }
}

.container-ice {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    padding-left: 184px;
  }

  @include desktop {
    padding-left: 241px;
  }
}

.container__waffel {
  position: absolute;
  z-index: 1;
  @media screen and (max-width: 479px) {
    bottom: 0;
    right: 60px;
  }

  @include mobile {
    bottom: 0;
    right: 20px;
  }

  @include tablet {
    right: 92px;
  }

  @include desktop {
    right: 92px;
  }
}

.container-dots {
  position: absolute;
  bottom: 0;

  @media screen and (max-width: 479px) {
    left: 0;
  }

  @include mobile {
    left: 159px;
  }
  @include tablet {
    left: 0;
  }
}
