.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: getColor('green-main');

  transform: translateX(100%);
  transition: transform 400ms ease-in;
}

.menu-container.is-open {
  transform: translateX(0);
}

.logo-menu {
  position: absolute;
  top: 12px;
  left: 32px;

  @media screen and (min-width: 480px) {
    top: 20px;
    left: 20px;
  }
  @media screen and (min-width: 768px) {
    top: 20px;
    left: 32px;
  }
}

.menu {
  margin-top: 100px;
  margin-bottom: 110px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    margin-top: 105px;
    margin-bottom: 115px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 140px;
  }
}

.navigation-list-menu__item {
  text-align: center;
}

.navigation-list-menu__item:not(:last-child) {
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.navigation-list-menu__link {
  color: getColor('theme-white');
  font-weight: 700;
  font-size: 32px;
  line-height: calc(39 / 32);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: getColor('theme-black');
  }

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(59 / 48);
  }
}
