.products {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-image: url(../images/bg-mob@1x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include retina {
    background-image: url(../images/bg-mob@2x.png);
  }

  @include tablet {
    background-image: url(../images/bg-tab@1x.png);

    @include retina {
      background-image: url(../images/bg-tab@2x.png);
    }
  }

  @include desktop {
    background-image: url(../images/bg-desk@1x.png);

    @include retina {
      background-image: url(../images/bg-desk@2x.png);
    }
  }
}

.products__subtitle {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-transform: uppercase;
  color: getColor('theme-black');

  @include tablet {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  @include desktop {
    font-size: 30px;
    line-height: calc(37 / 30);
    letter-spacing: 0.04em;
  }
}

.products__title {
  font-family: 'Seymour One';
  font-size: 30px;
  line-height: calc(38 / 30);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: getColor('theme-black');
  margin-bottom: 148px;

  @include mobile {
    margin-bottom: 145px;
  }

  @include tablet {
    font-size: 34px;
    line-height: calc(43 / 34);
    margin-bottom: 200px;
  }

  @include desktop {
    font-size: 36px;
    line-height: calc(45 / 36);
    letter-spacing: 0.06em;
    margin-bottom: 303px;
  }
}

.products__list {
  @include tablet {
    display: flex;
    column-gap: 16px;
  }

  @include desktop {
    display: flex;
    column-gap: 29px;
  }
}

.products__item {
  position: relative;
  width: 280px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 123px 40px 0;
  border-radius: 24px;

  &::before {
    display: block;
    position: absolute;
    z-index: 4;
    content: '';
    margin-top: -231px;
    width: 200px;
    height: 200px;
  }

  &:not(:last-child) {
    margin-bottom: 168px;
  }

  @include mobile {
    width: 250px;
    height: 428px;
    padding: 126px 25px 0;
  }

  @include tablet {
    width: 224px;
    height: 428px;
    padding: 108px 26px 0;
    flex-basis: calc((100% - 32px) / 2);

    &:not(:last-child) {
      margin-bottom: 0px;
    }
    &::before {
      left: 17.5px;
    }

    @include desktop {
      width: 370px;
      height: 536px;
      padding: 165px 64px 0;
      box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
      border-radius: 24px;
      flex-basis: calc((100% - 58px) / 2);

      &::before {
        margin-top: -341;
        width: 302px;
        height: 302px;
        left: 34px;
      }
    }
  }
}

.products__item-wrapper {
  width: 200px;
  height: 148px;

  @media screen and (min-width: 480px) {
  }

  @include tablet {
    width: 172px;
    height: 175px;
  }
  @include desktop {
    width: 246px;
    height: 142px;
  }
}

.products__item-title {
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: getColor('theme-black');

  &::before {
    display: block;
    position: absolute;
    z-index: 3;
    margin-top: -220px;
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  @include tablet {
    font-size: 22px;
    line-height: calc(27 / 22);
    margin-bottom: 40px;
    &::before {
      left: 17.5px;
    }
  }

  @include desktop {
    font-size: 30px;
    line-height: calc(37 / 30);
    margin-bottom: 66px;

    &::before {
      content: '';
      left: 34px;
      margin-top: -325;
      width: 302px;
      height: 302px;
      border-radius: 50%;
    }
  }
}

.products__item-text {
  font-size: 14px;
  line-height: calc(25 / 14);
  letter-spacing: 0.04em;
  color: getColor('theme-black');

  @include desktop {
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}

.products__modal-open-btn {
  display: inline-block;
  margin-bottom: 16px;
  padding: 53px 15px 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mobile {
    padding: 61px 15px 16px;
  }

  @include tablet {
    padding: 50px 15px 12px;
  }

  @include desktop {
    padding: 50 15px 58px;
  }

  &:hover {
    color: getColor('button-hover-focus');
  }

  &:focus {
    color: getColor('white-contacts');
  }
}

.products__modal-open-icon {
  fill: currentColor;
}

.products-img-cream {
  background-color: #aec6a5;
  &::before {
    background: url(../images/products/cream-mob-tab@1x.png);
  }
}

.products-img-coffee {
  background-color: #efd478;
  &::before {
    background: url(../images/products/coffee-mob-tab@1x.png);
  }
}

.products-img-shakes {
  background-color: #d6936d;
  &::before {
    background: url(../images/products/shake-mob-tab@1x.png);
  }
}

.products-cream::before {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    getColor('theme-grey');
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}

.products-coffee::before {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    getColor('theme-grey');
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.products-shakes::before {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    getColor('theme-grey');
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1200px) {
  .products-img-cream::before {
    background: url(../images/products/cream-desk@1x.png);
  }
  .products-img-coffee::before {
    background: url(../images/products/coffee-desk@1x.png);
  }
  .products-img-shakes::before {
    background: url(../images/products/shake-desk@1x.png);
  }
}
