.products {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  background-image: url(../images/bg-mob@1x.png);
  @include retina {
    background-image: url(../images/bg-mob@2x.png);
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include tablet {
    background-image: url(../images/bg-tab@1x.png);
  }
  @include retina {
    background-image: url(../images/bg-tab@2x.png);
  }
  @include desktop {
    background-image: url(../images/bg-desk@1x.png);
  }
  @include retina {
    background-image: url(../images/bg-desk@2x.png);
  }
}
.products__suptitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #131313;
  @include tablet {
    font-size: 22px;
  }
  @include desktop {
    font-size: 30px;
    letter-spacing: 0.04em;
  }
}
.products__title {
  font-family: 'Seymour One';
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 148px;
  @include mobile {
    margin-bottom: 145px;
  }
  @include tablet {
    font-size: 34px;
    margin-bottom: 200px;
  }
  @include desktop {
    font-size: 36px;
    letter-spacing: 0.06em;
    margin-bottom: 303px;
  }
}
.products__list {
  @include tablet {
    display: flex;
    justify-content: center;
    column-gap: 16px;
  }
  @include desktop {
    display: flex;
    justify-content: space-between;
    column-gap: 29px;
  }
}
.products__item {
  position: relative;
  width: 280px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 123px 40px 0;
  border-radius: 24px;
  &:not(:last-child) {
    margin-bottom: 168px;
  }
  &::before {
    display: block;
    position: absolute;
    z-index: 100;
    content: '';
    margin-top: -231px;
    width: 200px;
    height: 200px;
  }
  @include mobile {
    position: relative;
    width: 250px;
    height: 428px;
    padding: 126px 25px 0;
    border-radius: 24px;
  }
  @include tablet {
    position: relative;
    width: 224px;
    height: 428px;
    padding: 108px 26px 0;
    flex-basis: calc((100% - 32px) / 2);

    &:not(:last-child) {
      margin-bottom: 0px;
    }
    &::before {
      left: 17.5px;
    }
  }
  @include desktop {
    position: relative;
    width: 370px;
    height: 536px;
    padding: 165px 64px 0;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    flex-basis: calc((100% - 58px) / 2);
    &::before {
      margin-top: -341;
      width: 302px;
      height: 302px;
      left: 34px;
    }
  }
}
.products__item-wrapper {
  width: 200px;
  height: 148px;
  margin-bottom: 53px;

  @media screen and (min-width: 480px) {
    margin-bottom: 61px;
  }

  @include tablet {
    margin-bottom: 50px;
    width: 172px;
    height: 175px;
  }
  @include desktop {
    width: 246px;
    height: 142px;
  }
}
.products__item-title {
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #131313;
  &::before {
    display: block;
    position: absolute;
    z-index: 99;
    margin-top: -220px;
    content: '';
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  @include tablet {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 40px;
    &::before {
      left: 17.5px;
    }
  }
  @include desktop {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 66px;
    &::before {
      content: '';
      left: 34px;
      margin-top: -325;
      width: 302px;
      height: 302px;
      border-radius: 50%;
    }
  }
}
.products__item-text {
  font-size: 14px;
  line-height: 1.79;
  letter-spacing: 0.04em;
  color: #131313;

  @include desktop {
    font-size: 16px;
  }
}
.products__modal-open-btn {
  display: inline-block;
  margin-bottom: 16px;
  // padding: 53px 15px 16px;
  padding: 0 15px 16px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  @include mobile {
    // padding: 61px 15px 16px;
    padding: 0 15px 16px;
  }
  @include tablet {
    // padding: 50px 15px 12px;
    padding: 0 15px 12px;
  }
  @include desktop {
    // padding: 50px 15px 58px;
    padding: 0 15px 58px;
    margin-bottom: 60px;
  }
}
.products-img-cream {
  background-color: #aec6a5;
  &::before {
    background: url(../images/products/cream-mob-tab@1x.png);
  }
}
.products-img-coffee {
  background-color: #efd478;
  &::before {
    background: url(../images/products/coffee-mob-tab@1x.png);
  }
}
.products-img-shakes {
  background-color: #d6936d;
  &::before {
    background: url(../images/products/shake-mob-tab@1x.png);
  }
}

.products-cream::before {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}

.products-coffee::before {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
.products-shakes::before {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

// ===============  медиаправило для фото бифора и фона ================

// @media screen and (min-device-pixel-ratio: 2) and (max-width: 1199px),
//   screen and (min-resolution: 192dpi) and (max-width: 1199px),
//   screen and (min-resolution: 2dppx) and (max-width: 1199px) {
//   .products-img-cream {
//     background: url(../images/products/cream-mob-tab@2x.png);
//   }
//   .products-img-coffee {
//     background: url(../images/products/coffee-mob-tab@2x.png);
//   }
//   .products-img-shakes {
//     background: url(../images/products/shake-mob-tab@2x.png);
//   }
// }

// // ////////// +  1200px  + //////////////////////////////////////

@media screen and (min-width: 1200px) {
  // =====  фото-бифор   ===================
  .products-img-cream::before {
    background: url(../images/products/cream-desk@1x.png);
  }
  .products-img-coffee::before {
    background: url(../images/products/coffee-desk@1x.png);
  }
  .products-img-shakes::before {
    background: url(../images/products/shake-desk@1x.png);
  }
}

//   .products-img-cream::before {
//     background: url(../images/products/cream-desk@2x.png);
//   }

//   .products-img-coffee::before {
//     background: url(../images/products/coffee-desk@2x.png);
//   }

//   .products-img-shakes::before {
//     background: url(../images/products/shake-desk@2x.png);
//   }
// }

//////////////// -  1200 -  //////////////////////////////////

// .item-cream::before {
//   display: block;
//   position: absolute;
//   z-index: 100;
//   bottom: 80%;
//   left: 34px;
//   content: '';
//   width: 302px;
//   height: 302px;
//   background: url(../images/products/cream-desk@1x.png);
// }

// .item-coffee::before {
//   display: block;
//   position: absolute;
//   z-index: 100;
//   bottom: 80%;
//   left: 34px;
//   content: '';
//   width: 302px;
//   height: 302px;
//   background: url(../images/products/coffee-desk@1x.png);
// }

// .item-shakes::before {
//   display: block;
//   position: absolute;
//   z-index: 100;
//   bottom: 80%;
//   left: 34px;
//   content: '';
//   width: 302px;
//   height: 302px;
//   background: url(../images/products/shake-desk@1x.png);
// }

/////////////////////////////////////////////////////////

// .products__item-wrapper {
//   width: 246px;
//   height: 142px;
// }
//////////////////////////////////////////////

// .item-title-cream::before {
//   display: block;
//   position: absolute;
//   z-index: 99;
//   bottom: 413px;
//   left: 34px;
//   content: '';
//   width: 302px;
//   height: 302px;
//   border-radius: 50%;
//   background: linear-gradient(
//       0deg,
//       rgba(156, 190, 143, 0.7),
//       rgba(156, 190, 143, 0.7)
//     ),
//     #d9d9d9;
//   box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
// }

// .item-title-coffee::before {
//   display: block;
//   position: absolute;
//   z-index: 99;
//   bottom: 413px;
//   left: 34px;
//   content: '';
//   width: 302px;
//   height: 302px;
//   border-radius: 50%;
//   background: linear-gradient(
//       0deg,
//       rgba(248, 210, 78, 0.7),
//       rgba(248, 210, 78, 0.7)
//     ),
//     #d9d9d9;
//   box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
// }

// .item-title-shakes::before {
//   display: block;
//   position: absolute;
//   z-index: 99;
//   bottom: 413px;
//   left: 34px;
//   content: '';
//   width: 302px;
//   height: 302px;
//   border-radius: 50%;
//   background: linear-gradient(
//       0deg,
//       rgba(213, 117, 63, 0.7),
//       rgba(213, 117, 63, 0.7)
//     ),
//     #d9d9d9;
//   box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
// }

///////////////////////////////////////////////////////
